---
---

@import "{{ site.theme }}";

.clause subj {
    color: red;
}

.clause verb {
    color: orchid;
}

.clause obj {
    color: blue;
}

.clause compl {
    color: darkorange;
}

.clause prep {
    color:  wheat;
}

.clause prep span {
    color:  greenyellow;
}
